.appshowcase {
  position: relative;
}

.discount, .price {
  color: #a4d007;
  background-color: #4c6b22;
  position: absolute;
  bottom: 5px;
  right: 15px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.discount > img {
  max-height: 116px;
}

.item-img {
  float: left;
  padding-right: 5px;
  height: 70px;
}

.devpub, .tags {
  font-size: 0.8em;
}

.price {
  float: right;
}

.title, .devpub {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 525px;
}

.col-sm > a {
  color: black;
  text-decoration: none !important;
}

/* .col-sm:hover {
  background-color: #d8d8d8;
} */

.col-sm:not(.appshowcase) {
  border-bottom: 1px dotted #d8d8d8;
  padding-bottom: 2px;
  padding-top: 2px;
}